
.header{
    width: 100%;
    height: 100px;
    background-color:rgb(14, 14, 105) ;
}
body{
    overflow-x: hidden;
    padding-top: 100px;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
li{
    float: left;
}
.logo{
    width: 70px;
    padding-top: 20px;
}
.menuhead ul li a{
    text-transform: uppercase;
    color: black;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding: 20px;
    color: white;
    transition: color 0.3s ease; 
}
.menuhead ul {
    padding-left: 50px;
}
.menuhead ul li a:hover {
    color: rgb(244, 192, 47); 
}
.iconhead ul li a{
    padding-top: 150px;
}
.iconhead ul li:hover i{
    color:rgb(244, 192, 47) ;
}
.iconhead ul{
    padding-left: 20px;
}
.iconhead ul li {
    color: white;
    padding: 20px;
    font-size: 25px;
    padding-left: 40px;
    padding-top: 30px;
}
.header b{
   position: absolute;
   top:30px;
   left: 85px;
   color: white;
}
.menuhead a{
    text-decoration: none;
}
.menuhead ul li{
    padding-top: 40px;
}
.headerlogo{
    margin-left: 100px;
}


#search-box {
    background: rgb(14, 14, 105);
    border-radius: 25px;
}

#search-text {
    border: none;
    outline:none ;
    padding: 10px 15px;
    font-size: 12px;
    width: 0;
    padding: 0;
    transition: all 0.25s ease-in-out;
} 

#search-box:hover #search-text, 
#search-box #search-text:valid {
    width: 200px;
    padding: 10px 0px 10px 15px;
    z-index: 9999;
}

#search-btn {
    background: rgb(14, 14, 105);
    color: white;
    border: none;
    cursor: pointer;
    padding: 0px;
    border-radius: 50%;
}

#search-btn:hover #search-text{ 
    background: #fff; 
    color: #000; 
}
.sticky{
    position: fixed;
    z-index: 900;
    width: 100%;
    top:0;
    left: 0;
}
.sticky #icon-nav{
    display: none;
    color: white;
    font-size: 200%;
    position: absolute;
    top: 25px;
    left: 5%;
    cursor: pointer;
}
h2{
    background: rgb(24, 23, 51);
    text-align: center;
}
/* <!-------------------------------------------------------------->
<!-------------------------SanPham------------------------------->
<!--------------------------------------------------------------> */
.img-container img {
    transition: transform 0.3s ease;
    width: 100%;
    height: auto;
}

.text-below-image {
    background: rgb(211, 171, 31);
    color:rgb(24, 23, 51) ;
    position: absolute;
    bottom: -60px; 
    left: 10px;
    width: 95%;
    text-align: center;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.img-container:hover img {
    border: 2px solid #ccc;
    transform: scale(1.1);
}

.img-container:hover .text-below-image {
    opacity: 0;
}
.row {
    margin-bottom: 70px; 
}

.imgball {
    width: 100%;
    height: auto;
    text-align: center;
    position: relative;
}
.img-container {
    position: relative;
    overflow: hidden; 
}

.imgball img {
    max-width: 100%; 
    height: auto; 
    display: inline-block; 
    border-radius: 5px;
}
/* <!-------------------------------------------------------------->
    <!-------------------------Footer------------------------------->
    <!--------------------------------------------------------------> */
.footer{
    background-color: #d3ab1f;
}
.footer ul {
    list-style-type: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 5px;
    display: flex; 
    align-items: center; 
}

.icon {
    margin-right: 10px; 
    width: 25px; 
    text-align: center; 
}
.icon i {
    font-size: 20px;
}

.ft1 ul {
    display: flex;
    flex-direction: column;
    padding-left: 60px; 
    font-size: 30px;
}
.ft1 .social-list {
    margin-top: 5px; 
}
.ft1 b{
    padding-left: 60px;
    font-size: 30px;
}
.text-ft{
    text-align: center;
    font-size: 200px;
}
.ft2 ul {
    display: flex;
    flex-direction: column; 
    padding-left: 60px;
    font-size: 30px;
}
.ft2 b{
    padding-left: 60px;
    font-size: 30px;
}
.ft3{
    padding-left: 25px;
    font-size: 25px;
}
.ft4{
    text-align: center;
    background-color:#282c31;
    padding: 25px;
}
.ft4 a{
    color: white;
    font-size: 20px;
}
.ft4 {
    text-align: center;
}

.ft4 a {
    margin: 0 10px; 
    text-decoration: none;
    color: #fff8f8; 
}

.ft4 a:hover {
    text-decoration: underline; 
}
.icon1{
    margin-right: 25px;
    width: 40px;
    text-align: center; 
}
.icon1 i{
    font-size: 40px;
}
